body {
    margin: 0;
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
#navbar{
    overflow: hidden;
    background-color: #123;
}
#navbar a{
    float: left;
    display: block;
    color: #C2C094;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar a.active {
    background-color: #744253;
    color: white;
}
.content {
    padding: 16px;
text-align: center;
color:#A020F0;
background-color: black;
}

